{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel">
        <h1>Set your password</h1>
        <p class="dim">Welcome, {{ email }}. Choose a password to activate your account.</p>
        <form method="post">
            <label for="password">Password (min 8 characters)</label>
            <input type="password" id="password" name="password" autofocus required>
            <label for="confirm">Confirm password</label>
            <input type="password" id="confirm" name="confirm" required>
            <input type="hidden" name="_token" value="{{ csrf_token('activate') }}">
            <p><button type="submit">Activate account</button></p>
        </form>
    </div>
{% endblock %}
